<form action="/api/add-fruit-to-cart/apple" method="post" class="images-form">
    <div class="image-item">
        <img src="images/apple.png" class="image-fruit">
        <input type="submit" class="add-button" value="Add to cart">
        <input type="number" name="quantity">
    </div>
</form>