<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Document</title>
</head>
<body>
    <h1>404</h1>
    <p>Page doesn't exist.</p>
    <ul>
        <li>Go to <a href="/">Main Page</a></li>
    </ul>
</body>
</html>