body {
    display: grid;
    background-color: aquamarine;
}

.login-container {
    display: grid;
}

#main-title {
    text-align: center;
    font-size: 3.5em;
}

.input-text-container {
    display: grid;
}

input {
    font-size: 1.5em;
}

#buttons-container {
    display: grid;
}

hr#divisor-line-forms {
    margin-top: 2em;
    margin-bottom: 1em;
}

h3#demo-title {
    text-align: center;
}

form#demo-form {
    display: grid;
}

input.demo-button {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

@media screen and (max-width: 768px) {
    body {
        grid-template-columns: auto;
    }

    .login-container {
        grid-template-columns: auto;
    }

    .input-text-container {
        grid-template-columns: auto;
    }

    #buttons-container {
        grid-template-columns: auto;
    }

    form#demo-form {
        grid-template-columns: auto;
    }
}

@media screen and (min-width: 1024px) {
    body {
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }

    .login-container {
        grid-column: 4 / 6;
    }

    #buttons-container {
        grid-template-columns: auto auto;
    }

    form#demo-form {
        grid-template-columns: repeat(10, auto);
    }

    input.demo-button {
        grid-column: 4 / 7;
    }
}